@model LogicUniversityWeb.Models.Users
@using LogicUniversityWeb.Models
@{
    ViewBag.Title = "_greeting";
}


    <body>
        <div class="w3-animate-left">
            <h4 class="ToprightWelcome">Welcome, @Model.Username! </h4>
            <img src="@Model.URL" alt="Smiley face" width="70" height="70" class="Topright" />
        </div>
        

    </body> 