
@{
    ViewBag.Title = "createDisbursement";
}


@using (Html.BeginForm("createDisb", "Disbursement", FormMethod.Post))
{
    <div align="center">
        <input type="submit" class="btn btn-primary " value="CreateDisbursement" />
    </div>
  }

  